*.pdb
*.exp
.build/
.vs/
.history/
.library/
temp/
.compiler_errors

setup.cfg
imgui.ini
gui.cfg
d3d_game.dll
d3d_game.lib
game_dev.exe
game.exe
example.exe
enc_temp_folder/

# TODO: these two are a bug...the plugin reload system shouldn't be leaving them in the root directory. once that is fixed, these can go away.
*_reloaded_*.dll 
*_reloaded_*.lib